{% extends 'scolar/index.html' %}
{% load django_tables2 crispy_forms_tags icons bootstrap4 %}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}

{% block content %}
<section class="col-lg-10 pull-right">
			  
    <div id="loading" style="display: none;"></div>			
    <div id="content" style="display: block;">
        

        
<h1>Liste des examens</h1>
<br>








<br><br>



<br>


<div class="table-container">
{% render_table formations_table %}
<!-- 

<table class="table" id="myTable">
    
    
        <thead>
        <tr>
        
            <th class="orderable">
                
                    <a href="?sort=activite__type">Type</a>
                
            </th>
        
            <th class="orderable">
                
                    <a href="?sort=activite__module">Module</a>
                
            </th>
        
            <th class="desc orderable">
                
                    <a href="?sort=date">Date</a>
                
            </th>
        
            <th class="asc orderable">
                
                    <a href="?sort=-heure_debut">Heure debut</a>
                
            </th>
        
            <th class="orderable">
                
                    <a href="?sort=heure_fin">Heure fin</a>
                
            </th>
        
            <th>
                
                    Salles
                
            </th>
        
            <th>
                
                    Edit
                
            </th>
        
        </tr>
        </thead>
    
    
    
        <tbody>
        
            
            <tr class="even">
                
                    <td>Contrôle Final</td>
                
                    <td>1 2023 1 1 S1</td>
                
                    <td>09/04/2024</td>
                
                    <td>12:01</td>
                
                    <td>04:02</td>
                
                    <td>s1v0, s2v0</td>
                
                    <td>            <a href="" class="btn btn-primary"> <i class="fa fa-pencil-alt"></i> S1 </a>            <a href="" class="btn btn-primary"> <i class="fa fa-pencil-alt"></i> S2 </a>   </td>
                
            </tr>
            
        
            
            <tr class="odd">
                
                    <td>Contrôle Final</td>
                
                    <td>1 2023 1 1 S1</td>
                
                    <td>09/04/2024</td>
                
                    <td>13:59</td>
                
                    <td>05:58</td>
                
                    <td>s1v0, s2v0</td>
                
                    <td>            <a href="" class="btn btn-primary"> <i class="fa fa-pencil-alt"></i> S1 </a>            <a href="" class="btn btn-primary"> <i class="fa fa-pencil-alt"></i> S2 </a></td>
                
            </tr>
            
        
        </tbody>
    
    
    
    
</table> -->



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>

<script>
    $(function() {
      $("#myTable tbody").sortable({
        items: "> tr",
        placeholder: "ui-state-highlight",
        start: function(event, ui) {
          ui.item.data('start-pos', ui.item.index());
        },
        stop: function(event, ui) {
          var startPos = ui.item.data('start-pos');
          var endPos = ui.item.index();
          // You can add your custom logic here to handle the reordering
          console.log("Moved from " + startPos + " to " + endPos);
        }
      }).disableSelection();
    });
    </script>

<style>
    .ui-state-highlight {
      height: 3.5em;
      line-height: 3.5em;
      background-color: #f5f5f5;
      border: 1px dashed #ccc;
    }

    tbody tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
    </style>

</div>


<br>

<br><br><br><br>

    </div>
</section>
		<a href="{{request.META.HTTP_REFERER}}" class="btn btn-secondary">Retour</a>
		<br><br><br><br>
{% endblock %}
	